<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>goshort – not found</title>
    <link href="../static/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <a href="/">
        <h1 class="title"><span id="go-word">go</span>short</h1>
      </a>
    </header>

    <main>
      <section id="urlbox">
        <h2>URL not found</h2>

        <p class="error-text">There is no shortened URL with this ID.</p>

        <a href="/" class="back-button"> Shorten a new URL </a>
      </section>
    </main>
  </body>
</html>
